# Custom local folders
.quarantine/
data/

# Local secrets / env
.env.local
.env.*.local
.env
.env.*

# Next.js build output
.next/
out/
next-env.d.ts

# Dependencies
node_modules/

# NEVER commit private keys / secrets
*.pem
*.key
src/coinbase-sec1.pem
src/coinbase-pkcs8.pem
